<%- include('../layout', { title: 'Pályák' }) %>

<h2>Pályák listája</h2>

<table border="1" cellpadding="10">
  <tr>
    <th>Ország</th>
    <th>Pálya neve</th>
    <th>Hossz (km)</th>
    <th>Első verseny</th>
  </tr>

  <% palyak.forEach(p => { %>
    <tr>
      <td><%= p.orszag %></td>
      <td><%= p.palya_neve %></td>
      <td><%= p.hossz_km %></td>
      <td><%= p.elso_verseny ? p.elso_verseny.toString().slice(0, 10) : '' %></td>
    </tr>
  <% }) %>
</table>
