<%- include('../layout', { title: 'Pilóták' }) %>

<h2>Pilóták listája</h2>

<table border="1" cellpadding="10">
  <tr>
    <th>Név</th>
    <th>Születési idő</th>
    <th>Futamgyőzelmek</th>
    <th>Pontszám</th>
    <th>Pole pozíciók</th>
  </tr>

  <% pilotak.forEach(p => { %>
    <tr>
      <td><%= p.nev %></td>
      <td><%= p.szuletesi_ido ? p.szuletesi_ido.toString().slice(0, 10) : '' %></td>
      <td><%= p.futamgyozelmek %></td>
      <td><%= p.pontszam %></td>
      <td><%= p.pole_poziciok %></td>
    </tr>
  <% }) %>
</table>
