<%- include('../layout', { title: 'Pilóta szerkesztése' }) %>

<h2>Pilóta szerkesztése</h2>

<form action="<%= basePath %>/crud/pilotak/szerkesztes/<%= pilota.id %>" method="POST">

  <label>Név</label>
  <input type="text" name="nev" value="<%= pilota.nev %>" required>

  <label>Születési idő</label>
  <input type="date" name="szuletesi_ido" value="<%= pilota.szuletesi_ido.toString().slice(0,10) %>" required>

  <label>Futamgyőzelmek</label>
  <input type="number" name="futamgyozelmek" value="<%= pilota.futamgyozelmek %>" required>

  <label>Pontszám</label>
  <input type="number" name="pontszam" value="<%= pilota.pontszam %>" required>

  <label>Pole pozíciók</label>
  <input type="number" name="pole_poziciok" value="<%= pilota.pole_poziciok %>" required>

  <button type="submit">Módosítás</button>
</form>
